<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
<link rel="shortcut icon" href="https://diatribe.org/sites/all/themes/diatribe/favicon.ico">
<title>diaTribe MailChimp Aggregator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
  <h1>diaTribe MailChimp Aggregator</h1>
  <p>See these metrics in spreadsheet format <a href="https://goo.gl/K6g6fr">here</a>.</p>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<body>
</body>
</html>
