.status-dot {
  height: 8px;
  width: 8px;
  background-color: #63dd84;
  border-radius: 50%;
  display: inline-block;
}

#headerTop {
	font-size:24pt;
	color: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

a:hover, h3 a:hover{
text-decoration: none;
    color: #4eb7c0
}

 .active-navigation-link {
	color: #4eb7c0
}

#date-divider {
	font-size:15pt;
}

.icon-exchange {
 transform: rotate(90deg);
}

#login-btn {
    background-color: #4eb7c0
}

#home-link, #campaigns-link, #members-link, #help-link {
	color: #000;
}

.date-amount {
	width: 100px;
	height: 25px;
	font-size: 8pt;
}

#date-go {
	width:25px;
	height:25px;
	text-align: center;
}

.button {
    background-color: #4eb7c0;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button3 {border-radius: 8px;}

/* 
#navigationBar ul{
  list-style: none;
}
#navigationBar-ul {
  list-style:none;
}
#navigationBar-ul li {
  display: inline;
}
#navigationBar li{
  display: inline;
} */

#logo-div {
  padding: 15px;
}

.logo_img {}

#logo-div-2 {}

.navbar-brand-2 {}

#logo-pic {
	height:30px;
}

.navbar-styling {
  font-family: 'Roboto', sans-serif;
}
