.status-dot {
  height: 8px;
  width: 8px;
  background-color: #63dd84;
  border-radius: 50%;
  display: inline-block;
}

#headerTop {
	font-size:24pt;
	color: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

#navigationBar ul{
  list-style: none;
}
#navigationBar li{
  display: inline;
}
