<!DOCTYPE html>
<html>
<head>
<title>diaTribe MailChimp Aggregator | Campaigns</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Spinnaker|Chango|Dancing+Script|Lato|Lemonada|Limelight|Overlock+SC|Petit+Formal+Script|Righteous|Roboto+Condensed|Seaweed+Script|Spinnaker|Zilla+Slab+Highlight" rel="stylesheet">
<link href="templates/css/style.css" type="text/css" rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="https://diatribe.org/sites/all/themes/diatribe/favicon.ico">
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
</head>
<body>
<div id="users">

  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort
  </button>

  <ul class="list">
<!-- This, the first element in the list, will be used as template for new items. -->
    <li>
      <h3 class="name">Jonny Stromberg</h3>
      <p class="born">1986</p>
    </li>
  </ul>

</div>
</body>
</html>
