<!DOCTYPE html>
<html>
<head>
<!-- <title>{% block title %}{% endblock %}</title> -->
<title>diaTribe MailChimp Aggregator</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Spinnaker|Chango|Dancing+Script|Lato|Lemonada|Limelight|Overlock+SC|Petit+Formal+Script|Righteous|Roboto+Condensed|Seaweed+Script|Spinnaker|Zilla+Slab+Highlight" rel="stylesheet">
<link href="templates/css/index.css" type="text/css" rel="stylesheet">
<link href="css/index.css" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="https://diatribe.org/sites/all/themes/diatribe/favicon.ico">
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
<nav>
  <h1 id="pageTitle">diaTribe MailChimp Aggregator</h1>
  <h2 id="description">Aggregating MailChimp email statistics using Flask & MongoDB</h2>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
</html>
